DATABASE_URL=
DIRECT_URL=
PORT=3000
NODE_ENV=development
JWT_SECRET=
UPLOAD_DIR=uploads
UPLOAD_MAX_SIZE_MB=5
PUBLIC_BACKEND_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=
SHIPPING_FEE=10000
